{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block body %}

<div class="container my-4 px-0">

  <div class="col-md-6">
      <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'Logo.jpeg' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'Explosion box.jpeg' %}" class="d-block w-100" alt="...">
    </div>
      <div class="col-md-6">
    <h5>Welcome to Crafteholic</h5>
    <p>Made by Hand, Made with Love.Crafting dreams into reality at Crafteholic! Join me on a journey of creativity and handmade wonders.</p>
  </div>
    
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

</div>

{% endblock body %}
