{% extends "base.html" %}
{% load static %}

{% block title %}About Us{% endblock title %}

{% block body %}
<div class="container-fluid about-section d-flex flex-column justify-content-center align-items-center text-center">
  <h1 class="mb-3">About Us</h1>
  <p>
    Welcome to Crafteholic! We believe that handmade products carry emotions, stories, and a personal touch that machine-made items can never replace.

    At Crafteholic, every piece is carefully handcrafted with love, patience, and attention to detail. Our goal is to create unique and meaningful crafts that bring joy, warmth, and beauty into your everyday life.

    We are passionate about turning simple ideas into beautiful creations. Whether it’s a gift for someone special or something just for you, our crafts are designed to make every moment a little more special.

    Thank you for supporting handmade, creativity, and small dreams.

</div>
{% endblock body %}
