{% extends "base.html" %}
{% load static %}

{% block title %}Contact Us{% endblock title %}

{% block body %}
<div class="container contact-section d-flex flex-column justify-content-center align-items-center text-center my-5">
  <h1 class="mb-3">Contact Us</h1>
 
  <p class="contact-description mb-4">
   Have a question, custom order request, or just want to say hello? We’d love to hear from you!
   You can reach us through the contact form below or via our social media pages. We try our best to respond as quickly as possible.
   Thank you for supporting handmade art and choosing Crafteholic ❤️
  </p>
  
 
  <div class="contact-buttons d-flex flex-column">
    <a href="https://www.facebook.com/share/1FrcTFPxxX/?mibextid=wwXIfr" target="_blank" class="btn btn-facebook mb-3">
      Facebook
    </a>
    <a href="https://www.instagram.com/craft_eholic?igsh=MWtvOThzZnZ0NWxqdA%3D%3D" target="_blank" class="btn btn-instagram">
      Instagram
    </a>
  </div>
</div>
{% endblock body %}
