.custom-navbar {
    background-color: #dbcce0; 
}

.custom-navbar .nav-link,
.custom-navbar .navbar-brand {
    color: #281c2a;
}

.custom-navbar .nav-link:hover {
    color: #d29fe6;
}

.carousel-item img {
    height: 300px;
    width: 300%;
    object-fit: cover;
    object-position: center;
}



.carousel-caption h5,
.carousel-caption p {
    color: #edeaed;            
}


.carousel-caption {
    background: rgba(8, 0, 9, 0.5); 
    padding: 3px;
    border-radius: 3px;
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1);          
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
}


.carousel-indicators [data-bs-target] {
    background-color: #141313;
}



.about-section {
  background-color: #ece6ee;  
  min-height: 70vh;               
  padding: 50px 20px;         
}

.about-section h1 {
  margin-bottom: 5px;
  font-size: 3rem;            
}

.about-section p {
  max-width: 700px;           
  font-size: 1.2rem;
  line-height: 1.6;
}
.contact-section {
  min-height: 72vh;
  background-color: #ece6ee; 
  padding: 50px 20px;
}

.contact-section h1 {
  font-size: 3rem;
  color: #333;
}

.contact-description {
  font-size: 1.2rem;
  max-width: 600px;
  color: #555;
}

.contact-buttons .btn {
  padding: 12px 30px;
  font-size: 1.2rem;
  border-radius: 50px;
  text-decoration: none;
  color: #fff;
  transition: transform 0.2s, box-shadow 0.2s;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.btn-facebook {
  background-color: #121314;
}

.btn-facebook:hover {
  background-color: #145DBF;
  transform: translateY(-3px);
  box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}

.btn-instagram {
  background-color: #000000;
}

.btn-instagram:hover {
  background-color: #C1355B;
  transform: translateY(-3px);
  box-shadow: 0 6px 10px rgba(0,0,0,0.15);
}

.btn-cart {
    background-color: #ece6ee; /* custom orange */
    color: rgb(33, 1, 35);
    border-radius: 8px; /* optional rounded */
}


.btn-logout {
    background-color: #ece6ee; /* deep orange */
    color: rgb(33, 1, 35);
    border: none;
}

.btn-logout:hover {
    background-color: hwb(278 25% 66%);
}

.btn-login {
    background-color: #ece6ee; /* green */
    color: rgb(33, 1, 35);
    border: none;
}

.btn-login:hover {
    background-color: hwb(278 25% 66%);
}


.btn-signup {
    background-color: #ece6ee; 
    color: rgb(33, 1, 35);
    border: none;
}

.btn-signup:hover {
    background-color: hwb(278 25% 66%);
}

