{% extends "base.html" %}
{% block body %}

<div class="container mt-5 col-md-4">
  <h3 class="text-center">Sign Up</h3>

  {% for message in messages %}
    <p class="text-danger">{{ message }}</p>
  {% endfor %}

  <form method="POST">
    {% csrf_token %}
    <input class="form-control mb-2" name="username" placeholder="Username">
    <input class="form-control mb-2" name="email" placeholder="Email">
    <input class="form-control mb-2" type="password" name="password1" placeholder="Password">
    <input class="form-control mb-2" type="password" name="password2" placeholder="Confirm Password">
    <button class="btn btn-dark w-100">Create Account</button>
  </form>
</div>

{% endblock %}
